{{ ansible_managed | comment }}

# A sample configuration for dhcpcd.
# See dhcpcd.conf(5) for details.

# Allow users of this group to interact with dhcpcd via the control socket.
{% if dhcpcd.controlgroup is defined %}
controlgroup {{ dhcpcd.controlgroup }}
{% else %}
#controlgroup wheel
{% endif %}

# Inform the DHCP server of our hostname for DDNS.
{% if dhcpcd.hostname is defined %}
hostname {{ dhcpcd.hostname }}
{% else %}
hostname
{% endif %}
{% if dhcpcd.hostname_short is defined %}
hostname_short {{ dhcpcd.hostname_short }}
{% endif %}

# Use the hardware address of the interface for the Client ID.
{% if dhcpcd.clientid is defined %}
clientid {{ dhcpcd.clientid }}
{% else %}
clientid
{% endif %}
# or
# Use the same DUID + IAID as set in DHCPv6 for DHCPv4 ClientID as per RFC4361.
# Some non-RFC compliant DHCP servers do not reply with this set.
# In this case, comment out duid and enable clientid above.
{% if dhcpcd.duid is defined %}
duid {{ dhcpcd.duid }}
{% else %}
#duid
{% endif %}

# Persist interface configuration when dhcpcd exits.
{% if dhcpcd.persistent is defined %}
persistent
{% else %}
#persistent
{% endif %}

{% if dhcpcd.options is defined %}
{% for option in dhcpcd.options %}
option {{ option }}
{% endfor %}
{% endif %}

{% if dhcpcd.requires is defined %}
{% for require in dhcpcd.requires %}
require {{ require }}
{% endfor %}
{% endif %}

{% if dhcpcd.interfaces is defined %}
{% for interface in dhcpcd.interfaces %}
interface {{ interface.name }}
{% for prop in interface.props %}
{{prop}}
{% endfor %}
{% endfor %}

{% endif %}
{% if dhcpcd.profile is defined %}
{% for profile in dhcpcd.profile %}
profile {{ profile.name }}
{% for prop in profile.props %}
{{prop}}
{% endfor %}
{% endfor %}

{% endif %}

{% if dhcpcd.fallback is defined %}
{% for fallback in dhcpcd.fallback %}
interface {{ fallback.interface }}
{% for profile in fallback.profiles %}
fallback {{ profile }}
{% endfor %}
{% endfor %}

{% endif %}
